# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Build Files
build/
dist/
*.spec

# VS Code
.vscode/

# Database
database/users.json
database/intruders.json

# Security
secret.key

# Face Images
known_faces/

# Logs
*.log

# Temporary Files
*.tmp